:root {
  --primary: #bd562d;      /* Orange */
  --secondary: #252422;    /* Dark */
  --dark: #403d39;         /* Dark Gray */
  --light: #ccc5b9;        /* Light Gray */
  --background-color: #fffcf2; /* Cream background */
}

.custom {
  color: #BD562D !important;
  background-color: #BD562D !important;
  border-color: #BD562D !important;
}

.btn-primary,
.bg-primary,
.border-primary {
  background-color: #BD562D !important;
  border-color: #BD562D !important;
}

.text-primary {
  color: #BD562D !important;
}

footer {
  background-color: var(--primary) !important;
  color: white !important;
}

.navbar {
  background-color: var(--dark) !important;
}

body {
  background-color: var(--background-color) !important;
}

.jumbotron, .b-jumbotron {
  background-color: var(--primary) !important;
  color: #ffffff !important;
}

.jumbotron h3, .b-jumbotron h3,
.jumbotron p, .b-jumbotron p {
  color: #ffffff !important;
}






